.env
./vendor/*
.log
logs/
storage/logs/laravel.log
storage/framework/sessions/0s7Z3xDhzUZooxh0fthTidCHkqjSEPcC7UoIOzA5
storage/framework/sessions/fRxlVgNssORi859KQfQ3ELCb62zX9pMv6MqNLB21
storage/framework/sessions/oFoJQULGj4VoS8vywh0HOpCscK2CbmkE1g96EnMb
storage/framework/sessions/P7zZ25Qs6LW4cPQN8SU80XYjwtwQH8ab448kJQb3
